.text-left {
  text-align: left;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root h1 {
  text-align: left;
}

#simplenav {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

#simplenav li {
  display: inline; /* Display list items horizontally */
  margin-right: 10px; /* Add some spacing between list items */
}

